<div class="container-fluid">
    <div class="row header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>
                BEST WAY TO PROMOTE YOUR APP
            </h1>
        </div>

    </div>
    <div class="row caption">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
        </div>
    </div>
    <div class="row button-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <button type="button download-btn" class="btn">
                            DOWNLOAD
                    </button>
            </div>
            <div class=" col-xs-12 col-sm-6 col-md-6">
                <button type="button readmore-btn" class="btn">
                            READ MORE
                 </button>
            </div>
        </div>
    </div>

</div>