<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/brand/logo.svg" width="150" height="50" class="d-inline-block align-top" alt="Logo">
    </a>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-end" id="navbarNav" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item active btn-link">
                <a class="nav-link" [ngx-scroll-to]="'#'">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item btn-link">
                <a class="nav-link" [ngx-scroll-to]="'#'">FEATURES</a>
            </li>
            <li class="nav-item btn-link">
                <a class="nav-link" [ngx-scroll-to]="'#howitworks'">HOW IT WORKS</a>
            </li>
            <li class="nav-item btn-link">
                <a class="nav-link" [ngx-scroll-to]="'#'">SCREENSHOT</a>
            </li>
            <li class="nav-item btn-link">
                <a class="nav-link" [ngx-scroll-to]="'#pricing'">PRICING</a>
            </li>
            <li class="nav-item btn-link">
                <a class="nav-link" [ngx-scroll-to]="'#contact'">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>