<div class="container-fluid" id="howitworks">
    <div class="row title">
        <h3>DOWNLOAD APP NOW</h3>
    </div>

    <div class="row subtitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the Lorem Ipsum is simply</p>
    </div>

    <div class="row button-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">


                <button type="button" class="btn">
                      <span class="icon"><i class="fa fa-apple"></i></span> Apple Store
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <button type="button" class="btn">
                    <span class="icon"><i class="fa fa-android"></i></span> Google Play
                </button>
            </div>
        </div>
    </div>
</div>