<div class="container-fluid" id="contact">
    <div class="row title">
        <h3>CONTACT US</h3>
    </div>

    <div class="row subtitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the Lorem Ipsum is simply</p>
    </div>

    <form class="contact-form">
        <div class="form-row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input type="text" class="form-control name" placeholder="Name *" required>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input type="email" class="form-control" placeholder="Email *" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <input type="text" class="form-control subject" placeholder="Subject *" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xs-12 col-sm-12 col-md-12 message">
                <textarea class="form-control" placeholder="Message *" required></textarea>
            </div>
        </div>
        <div class="form-row ">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="submit" class="btn">SEND MESSAGE</button>
            </div>
        </div>

    </form>
</div>