@import '../../common/scss/base.scss';
.container-fluid {
    @extend %container-layout;
    color: $font-color-secondary;
}

.title {
    @extend %title-section;
    color: $font-header-color-secondary;
}

.subtitle {
    @extend %subtitle-section;
}

.plans {
    font-size: $font-size-normal;
    .card {
        margin-bottom: $margin-standard-item;
    }
    .card-title-container {
        background: $bg-color-primary;
        padding-top: $padding-standard-item;
        padding-bottom: $padding-standard-item;
        color: $font-color-primary;
        .card-price {
            font-size: $font-size-xlarge;
            span {
                font-size: $font-size-normal;
            }
        }
    }
    .card-body {
        margin: 0 auto;
        .list-group-item {
            border: none;
        }
        .badge {
            padding-right: $padding-standard-item;
        }
    }
    .card-btn {
        padding-top: $padding-standard-item;
        button {
            @extend %button-standard;
            box-shadow: none;
            border-color: $border-color-secondary;
            color: $border-color-secondary;
            &:hover {
                background: $bg-color-primary;
                color: $font-color-primary;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .subtitle {
        padding-left: 0;
        padding-right: 0;
    }
    .container-fluid {
        padding-left: $padding-standard-item;
        padding-right: $padding-standard-item;
        padding-bottom: $padding-standard-item;
    }
}