<div class="container-fluid" id="pricing">

    <div class="row title">
        <h3> PRICING PLANS </h3>
    </div>

    <div class="row subtitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the Lorem Ipsum is simply</p>
    </div>

    <div class="row plans">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-title-container">
                    <h5 class="card-title">STANDARD</h5>
                    <h5 class="card-price">$12<span>/month</span></h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge badge-pill"><i class="fa fa-check"></i></span>First Description here</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-check"></i></span>2nd Description here</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>Unlimited Data Service</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>60GB Bandwidth Free</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>24/7 Customer Support</p>
                        </li>
                    </ul>
                    <div class="card-btn">
                        <button href="#" type="button" class="btn btn-primary">SIGNUP NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-title-container">
                    <h5 class="card-title">BUSINESS</h5>
                    <h5 class="card-price">$30<span>/month</span></h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge badge-pill"><i class="fa fa-check"></i></span>First Description here</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-check"></i></span>2nd Description here</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>Unlimited Data Service</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>60GB Bandwidth Free</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>24/7 Customer Support</p>
                        </li>
                    </ul>
                    <div class="card-btn">
                        <button href="#" type="button" class="btn btn-primary">SIGNUP NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center">
                <div class="card-title-container">
                    <h5 class="card-title">PREMIUM</h5>
                    <h5 class="card-price">$50<span>/month</span></h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge badge-pill"><i class="fa fa-check"></i></span>First Description here</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-check"></i></span>2nd Description here</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>Unlimited Data Service</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>60GB Bandwidth Free</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p> <span class="badge  badge-pill"><i class="fa fa-times"></i></span>24/7 Customer Support</p>
                        </li>
                    </ul>
                    <div class="card-btn">
                        <button href="#" type="button" class="btn btn-primary">SIGNUP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>