$font-color-primary: #FFFFFF;
$font-color-secondary: #8a8585;
$font-header-color-primary: #FFFFFF;
$font-header-color-secondary: #000000;
$font-navbar-color: #8a8585;
$button-font-color-hover: #000000;
$bg-color-primary:linear-gradient(to right, #4f46ce, #53b0db);
$bg-color-secondary: #FFFFFF;
$border-color-primary: #FFFFFF;
$border-color-secondary:#4f46ce;