@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$fa-font-path: '../node_modules/font-awesome/fonts';
$font-family-primary: 'Montserrat',
sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-size-normal: 12px;
$font-size-large: 36px;
$font-size-xlarge: 46px;